<input type="text" [(ngModel)] = "title">
{{ title }}



<div *ngIf= "title === 'Ana'">
  esta es Ana
</div>

<div *ngIf="title === 'Laura'">
  esta es Laura
</div>

<div *ngIf="title === 'Rosa'">
  esta es Rosa
</div>

<div [ngSwitch] = "title">
  <p *ngSwitchCase="'Ana'">Esta es Ana</p>
  <p *ngSwitchCase="'Laura'">Esta es Laura</p>
  <p *ngSwitchCase="'Rosa'">Esta es Rosa</p>
  <p *ngSwitchDefault>no hay match</p>
</div>
<button (click) = "addItem()">Agregar ítem</button>

<ul>
  <li *ngIf= "items.length === 0">la lista está vacía </li>
  <li *ngFor = "let name of items; index as i">
    {{name}} {{i}}
    <button (click) = "deleteItem(i)">eliminar</button>
  </li>
</ul>

<div class="product-grid">
  <app-product 
  *ngFor= "let product of products" 
  (productClicked)="clickProduct($event)" 
  [product]="product"></app-product>
</div>